<% frame_id = message.new_record? ? "new_message" : dom_id(message) %>
<turbo-frame id="<%= frame_id %>">
  <% if message.persisted? %>
    <div class="current-message">
      <p><%= message.content %></p>
      <p style="font-size: small; font-style: italic;"><%= message.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
      <hr>
      <h4>Edit message:</h4>
    </div>
  <% end %>

  <%= form_with(model: message) do |form| %>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div class="actions">
      <%= form.submit %>
      <% if message.persisted? %>
        <%= link_to "Cancel", message_path(message), data: { turbo_frame: dom_id(message) } %>
      <% end %>
    </div>
  <% end %>
</turbo-frame> 