<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || "Turboapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Remplacer le CDN Simple.css par notre version personnalisée %>
    <%= stylesheet_link_tag "theme/simple", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "app", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    
    <%= yield :head %>
  </head>

  <body>
    <%= Time.zone.now%>
    <header>
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Blog", blog_path if defined?(blog_path) %>
        <%= link_to "About", about_path if defined?(about_path) %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> Your Name</p>
    </footer>
  </body>
</html>
